@model CadastroClientes.Dominio.Entidades.Cliente

@{
    ViewData["Title"] = "Delete";
}

    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Excluir <b>Cliente</b></h2></div>
        </div>
    </div>
    <hr />
<div>
    <dl class="row ml-1">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-danger" />
    </form>

</div>

<div class="row text-center">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-info add-new"><i class="fa fa-plus"></i> <span>Voltar</span></a>
    </div>
</div>
